body{
    margin: 0px;
    padding: 0px;
}
.navbar-toggler{
    font-size: 12px;
}
.home-heading{
    margin-left: 70px;
}
.homepg-header{
    margin-top: 100px;
}
.info{
    font-size: 60px;
}
.cart-img{
    margin-left: 190px;
    margin-bottom: 10px;
    padding: 15px 10px 0px 10px;
}
.right-arrow{
    height: 30px;
    width: 30px;
}
.arrow{
    margin-left: 200px;
}
.contac-para{
    font-size: 12px;
}
.contac-para-last{
    font-size: 12px;
}